DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=habit_tracker
FLASK_SECRET_KEY=replace_with_random_secret
APP_USER_1=rohit
APP_PASS_1=pass123
APP_USER_2=partner
APP_PASS_2=pass123
